# Ignore local env files
license_server/.env

# Python
__pycache__/
*.py[cod]
venv/
.venv/

# Build artifacts (ignore built executables to avoid large binary commits)
dist/*.exe
release/*.exe
build/

# Do NOT commit private keys
license_server/private.pem
