fastapi
uvicorn[standard]
SQLAlchemy>=2.0
asyncpg
aiosqlite
alembic
pydantic
python-dotenv
pydantic-settings
Jinja2
HTMX
passlib[bcrypt]
PyJWT
cryptography
customtkinter
httpx
tkcalendar
APScheduler
requests
pyinstaller
